.content {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr; 
    grid-gap: 1.1rem;
    grid-auto-flow: dense;
    
    @media(max-width: 992px) {
        padding: 1.5rem;
        grid-template-columns: 2fr 3fr; 
    }
    
    @media(max-width: 768px) {
        padding: 1rem;
        grid-template-columns: 1fr;
    }
    
    @media(max-width: 768px) {
        padding: 0;
    }
        
    &--1 {
        background-color: $color-grey-light;
        display: flex;
        @include center-content-in-flex-item;
    }
        
    &--2 {
        background-color: $color-primary;
        display: flex;
        @include center-content-in-flex-item;
    }
        
    &--3 {
        background-color: lighten($color-primary, 10%);
        grid-column: span 2;
        display: flex;
        @include center-content-in-flex-item;
        
        @media(max-width: 768px) {
            grid-column: span 1;
            grid-row: span 2;
        }
    }
        
    &--4 {
        background-color: $color-secondary;
        grid-row: span 2;
        display: flex;
        @include center-content-in-flex-item;
        
        @media(max-width: 992px) {
            grid-column: span 2; 
            grid-row: span 1;
        }
        
        @media(max-width: 768px) {
            grid-column: span 1;
            grid-row: span 2;
        }
    }
}