body {
    font-family: 'Oxygen', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: $color-white;
    
    @media(max-width: 480px) {
        font-size: 1.8rem;
    }
}

span {
    text-transform: uppercase; 
}