.menu {
  display: flex;
  grid-area: menu;
  align-items: center;
  justify-content: center;
  margin: 0 -1em;
  background-color: $color-4-hex;

  &__title {
    display: none;
  }

  &__items {
    display: flex;
    text-align: center;
  }

  &__item {
    margin: 0.5em 1em;

    a {
      color: $color-1-hex;
    }
  }
}

@media (min-width: 769px) {
  .menu {
    flex-direction: column;
    margin: 0;

    &__title {
      display: initial;
      margin: 0.5em 1em auto;
      color: $color-1-hex;
      text-transform: uppercase;
    }

    &__items {
      flex-direction: column;
    }

    &__item {
      margin: 1em 0;
    }
  }
}
