.navbar {
  display: flex;
  grid-area: navbar;
  align-items: center;
  justify-content: flex-end;
  background-color: $secondary;

  &__menu {
    display: none;
  }

  li {
    margin-right: 1em;
  }

  a {
    font-weight: 600;
    color: $primaryDark;
    text-transform: uppercase;
  }
}

@media (min-width: 426px) {
  .navbar {
    padding: 1em;

    & &__hamburger-menu {
      display: none;
    }

    &__menu {
      display: flex;
      flex: 1;

      :last-child {
        margin: 0 0 0 auto;
      }
    }
  }
}
