footer {
  grid-area: footer;
  background-color: rgba(67, 71, 67, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer .media-icons ul {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

footer .media-icons ul li {
  font-size: 1.5em;
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 992px) {
  footer .media-icons ul li {
    transition: transform 400ms ease-in-out;
  }

  footer .media-icons ul li:hover {
    transform: scale(1.5);
  }
}