.header__navbar {
	background-color: $content__item-4-color;
}

.content__item-1 {
	background-color: $content__item-1-color;
}

.content__item-2 {
	background-color: $content__item-2-color;
}

.content__item-3 {
	background-color: $content__item-3-color;
}

.content__item-4 {
	background-color: $content__item-1-color;
}

.side-menu {
	background-color: $content__item-4-color;
}

.footer {
	background-color: $content__item-4-color;
}